@inject NavigationManager NavigationManager
@page "/admindash"
<AuthorizeView Policy="IsAdmin">
<Authorized>
    <div class="wrapper">
        <div class="auth-wrapper">
            <h1 id="title">Admin Dashboard</h1> 
            <div class="wrapper-containers">
                <div class="container">
                    <h1>Authorize Sellers</h1>
                    <div class="spacer"></div>
                    <button class="container-button" @onclick="AuthSellers">Open</button>
                </div>
                <div class="container">
                    <h1>Manage Categories</h1>
                    <div class="spacer"></div>
                    <button class="container-button" @onclick="ManageCategories">Open</button>
                </div>
                <div class="container">
                    <h1>Customer Support</h1>
                    <div class="spacer"></div>
                    <button class="container-button" @onclick="CustomerSupport">Open</button>
                </div>
            </div>
        </div>
    </div>
</Authorized>
</AuthorizeView>

@code {

    public void AuthSellers()
    {
        NavigationManager.NavigateTo("/seller/auth");
    }

    public void ManageCategories()
    {
        NavigationManager.NavigateTo("/ManageCategories");
    }

    public void CustomerSupport()
    {
        NavigationManager.NavigateTo("/view-support-requests");
    }
    
}