@inject NavigationManager NavigationManager
@page "/"

<div class="wrapper">
    <div class="home-wrapper">
        <AuthorizeView Policy="IsAdmin">
            <Authorized>
               <h1>Welcome to Our Store!</h1>
                <p>Explore our wide range of products and offers.</p>
            </Authorized>
            <NotAuthorized>
                <h1>Welcome to Our Store!</h1>
                <p>Explore our wide range of products and offers.</p>
                <p>Make sure to login!</p>
                <button @onclick="Login">Login</button>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>

@code
{
    private void Login()
    {
        NavigationManager.NavigateTo("/Login");
    }

    private void AdminDash()
    {
        NavigationManager.NavigateTo("/admindash");
    }

    private void SellerDash()
    {
        NavigationManager.NavigateTo("/sellerdash");
    }

    private void ViewItems()
    {
        NavigationManager.NavigateTo("/items");
    }
    
}
