@inject NavigationManager NavigationManager
@page "/"

<div class="wrapper">
    <div class="home-wrapper">
        <AuthorizeView>
            <Authorized>
                <h1>Welcome to Our Store!</h1>
                <p>Enjoy your purchasing/selling experience at at Echo!.</p>
            </Authorized>
            <NotAuthorized>
                <h1>Welcome to Our Store!</h1>
                <p>Enjoy your purchasing/selling experience at at Echo!.</p>
                <p>Make sure to login!</p>
                <button @onclick="Login">Login</button>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>

@code
{
    private void Login()
    {
        NavigationManager.NavigateTo("/Login");
    }
}
