body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

.list-items-wrapper {
    width: 1036px;
    height: 584px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.17);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 58px;
    border: 1px solid rgba(255, 255, 255, 0.49);
    backdrop-filter: blur(21.60px);
}
.inputs-container {
    display: flex;
    flex-direction: row;
}
h1 {
    color: #000;
    font-family: "Inter", Helvetica, sans-serif;
    font-size: 4rem;
    font-style: italic;
    font-weight: 100;
    line-height: normal;
    margin-bottom: 5%;
    border: none;
}
.input-box {
    background: white;
    width: 100%;
    margin-bottom: 2%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.input-box.input-box1,
.input-box.input-box2 {
    width: 255px;
    height: 30px;
}
.input-box.input-box3,
.input-box.input-box4 {
    width: 159px;
    height: 30px;
}
.input-box.input-box5 {
    width: 456px;
    height: 215px;
}
.input-box.input-box6 {
    width: 455px;
    height: 328px;
    margin: 2%;
}
.input-box-container {
    display: flex;
    flex-direction: column;
}
.input-box-container .row {
    display: flex;
    justify-content: space-between;
    margin: 2%;
}
.button {
    background: #bf98ff;
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-radius: 73px;
    margin-left: auto;
    margin-right: 2%;
}
.button:hover {
    background: #a66fff;
}
.buttons {
    margin-left: auto;
    margin-right: 5%;
    margin-top: -2%;
}
.buttons-style {
    background: #AA4465;
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-radius: 73px;
}
.confirmation-text {
    text-align: center;
    margin-bottom: 10px;
}
.confirmation-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
