@page "/register"
<div class="wrapper">
    <div class="register-wrapper">
            <h1>Register</h1>
            <input type="text" placeholder="First Name"/>
            <input type="text" placeholder="Last Name"/>
            <input type="text" placeholder="Email"/>
            <input type="password" placeholder="Password"/>
            <input type="text" placeholder="Address"/>
            <div class="city-post">
                <input type="text" placeholder="City"/>
                <input type="text" placeholder="Postal Code"/>
            </div>
            <input type="text" placeholder="Country"/>
            <select name="user-types" id="user-types">
                <option value="customer">Customer</option>
                <option value="seller">Seller</option>
            </select>
            <div class="button-row">
                <a>Already have an account?</a>
                <button>Register</button>
            </div>
        </div>
</div>

@code {
    
}