@page "/sellerpage"
@inject NavigationManager NavigationManager

<AuthorizeView Policy="IsAuthorizedSeller">
    <Authorized>
        <div class="wrapper">
            <div class="new-items-wrapper">
                <h1>List new items</h1>
                <button @onclick="SwitchToNewItem">Open</button>
            </div>
            <div class="items-on-sale-wrapper">
                <h1>View items for sale</h1>
                <button @onclick="SwitchToItemsOnSale">Open</button>
            </div>
            <div class="orders-wrapper">
                <h1>View orders</h1>
                <button @onclick="SwitchToOrders">Open</button>
            </div>
        </div>
    </Authorized>
</AuthorizeView>


@code {
    private void SwitchToNewItem()
    {
        NavigationManager.NavigateTo("/listitem");
    }
    private void SwitchToItemsOnSale()
    {
        NavigationManager.NavigateTo("/...");
    }
    private void SwitchToOrders()
    {
        NavigationManager.NavigateTo("/...");
    }
    
}