@inject NavigationManager NavigationManager
@page "/sellerdash"
<AuthorizeView Policy="IsAuthorizedSeller">
    <Authorized>
    <div class="wrapper">
        <div class="auth-wrapper">
            <h1 id="title">Seller Dashboard</h1> 
            <div class="wrapper-containers">
                <div class="container">
                    <h1>List New Items</h1>
                    <div class="spacer"></div>
                    <button class="container-button" @onclick="NewItems">Open</button>
                </div>
                <div class="container">
                    <h1>View Items For Sale</h1>
                    <div class="spacer"></div>
                    <button class="container-button">Open</button>
                </div>
                <div class="container">
                    <h1>View Order</h1>
                    <div class="spacer"></div>
                    <button class="container-button">Open</button>
                </div>
            </div>
        </div>
    </div>
    </Authorized>
</AuthorizeView>
        

@code {

    private void NewItems()
    {
        NavigationManager.NavigateTo("/listitem");
    }
    /* private void ViewItems()
    {
        NavigationManager.NavigateTo("/items");
    }
    
    private void ViewOrders()
    {
        NavigationManager.NavigateTo("/orders");
    }
    */
}