@page "/cart"
@using Domain.Shopping.Models
@inject AuthenticationStateProvider AuthenticationStateProvider;
@inject IItemService ItemService;
@inject IShoppingCartService ShoppingCartService;
@using HTTPClients.ClientInterfaces

<div class="container">
    <div class="cart-container">
            <h1>Shopping Cart</h1>
            <input type="text" class="search" placeholder="Search">
            <div class="items">
                @if (_userId == 0)
                {
                    <p>Please Log in!</p>
                }
                @foreach (var item in _items)
                {
                    if (item != null)
                    {
                        <div class="item">
                            <div class="image-name">
                                <div class="image">
                                    <img src="@item.ImageUrl" alt=""/>
                                </div>
                                <h3>@item.Name</h3>
                            </div>
                            <h3>Qty: @GetQuantity(item.Id)</h3>
                            <div class="price-delete-check">
                                <h3>@item.Price DKK</h3>
                                <button class="delete">Delete</button>
                                <FancyCheckbox></FancyCheckbox>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
</div>

@code {
    private int _userId;
    private ICollection<CartItem>? _cartItems = new List<CartItem>();
    private ICollection<Item?> _items = new List<Item?>();
    protected override async Task OnInitializedAsync()
    {
        await InitializeUserIdAsync();
        await InitializeCartItems();
        await ConvertToItems();
    }

    private async Task InitializeCartItems()
    {
        _cartItems = await ShoppingCartService.GetByCustomerId(_userId);
    }

    private async Task ConvertToItems()
    {
        if (_cartItems != null)
            foreach (var cartItem in _cartItems)
            {
                _items.Add(await ItemService.GetById(cartItem.ItemId));
            }
    }


    private async Task InitializeUserIdAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (user.Identity != null && user.Identity.IsAuthenticated)
        {
            var userIdClaim = user.FindFirst("Id"); 
            if (userIdClaim != null && int.TryParse(userIdClaim.Value, out var userId))
            {
                _userId = userId;
            }
        }
    }

    private async Task<Item?> GetItemById(int id)
    {
        return await ItemService.GetById(id);
    }

    private int GetQuantity(int id)
    {
        int quantity = 1;
        if (_cartItems != null)
            foreach (var cartItem in _cartItems)
            {
                if (cartItem.ItemId == id)
                {
                    quantity = cartItem.Quantity;
                }
            }
        return quantity;
    }

}