@page "/items"
@using HTTPClients.ClientInterfaces
<div class="wrapper">
    <div class="search-part">
            <div class="filter">
                <select>
                    <option value="" disabled selected>Filter</option>
                    <option>Random</option>
                    <option>Price: Low-High</option>
                    <option>Price: High-Low</option>
                    <option>Rating: Low-High</option>
                    <option>Rating: High-Low</option>
                    <option>Popularity: Low-High</option>
                    <option>Popularity: High-Low</option>
                </select>
            </div>
            <div class="search-bar">
                <input type="text" placeholder="Search">
                <button>Search</button>
            </div>
        </div>
        <div class="items">
            <div class="row">
                <div class="item">
                    <div class="image"></div>
                    <h2>Item Name Maybe Two Lines</h2>
                    <h3>399 DKK</h3>
                </div>
                <div class="item">
                    <div class="image"></div>
                    <h2>Item Name Maybe Two Lines</h2>
                    <h3>399 DKK</h3>
                </div>
                <div class="item">
                    <div class="image"></div>
                    <h2>Item Name Maybe Two Lines</h2>
                    <h3>399 DKK</h3>
                </div>
                <div class="item">
                    <div class="image"></div>
                    <h2>Item Name Maybe Two Lines</h2>
                    <h3>399 DKK</h3>
                </div>
            </div>
            <div class="row">
                <div class="item">
                    <div class="image"></div>
                    <h2>Item Name Maybe Two Lines</h2>
                    <h3>399 DKK</h3>
                </div>
                <div class="item">
                    <div class="image"></div>
                    <h2>Item Name Maybe Two Lines</h2>
                    <h3>399 DKK</h3>
                </div>
                <div class="item">
                    <div class="image"></div>
                    <h2>Item Name Maybe Two Lines</h2>
                    <h3>399 DKK</h3>
                </div>
                <div class="item">
                    <div class="image"></div>
                    <h2>Item Name Maybe Two Lines</h2>
                    <h3>399 DKK</h3>
                </div>
            </div>
            <div class="row">
                <div class="item">
                    <div class="image"></div>
                    <h2>Item Name Maybe Two Lines</h2>
                    <h3>399 DKK</h3>
                </div>
                <div class="item">
                    <div class="image"></div>
                    <h2>Item Name Maybe Two Lines</h2>
                    <h3>399 DKK</h3>
                </div>
                <div class="item">
                    <div class="image"></div>
                    <h2>Item Name Maybe Two Lines</h2>
                    <h3>399 DKK</h3>
                </div>
                <div class="item">
                    <div class="image"></div>
                    <h2>Item Name Maybe Two Lines</h2>
                    <h3>399 DKK</h3>
                </div>
            </div>
            <div class="row">
                <div class="item">
                    <div class="image"></div>
                    <h2>Item Name Maybe Two Lines</h2>
                    <h3>399 DKK</h3>
                </div>
                <div class="item">
                    <div class="image"></div>
                    <h2>Item Name Maybe Two Lines</h2>
                    <h3>399 DKK</h3>
                </div>
                <div class="item">
                    <div class="image"></div>
                    <h2>Item Name Maybe Two Lines</h2>
                    <h3>399 DKK</h3>
                </div>
                <div class="item">
                    <div class="image"></div>
                    <h2>Item Name Maybe Two Lines</h2>
                    <h3>399 DKK</h3>
                </div>
            </div>
            
        </div>
</div>


@code {
    
}