@page "/ViewItem"
<div class="wrapper">
     <div class="item-container">
            <div class="image">
    
            </div>
            <div class="info">
                <div class="info-text">
                    <label id="stock">In Stock</label> 
                    <p id="name">Item Name. Maybe longer. Maybe even longer. How far can we reach?</p>
                    <p id="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Condimentum mattis pellentesque id nibh tortor. At auctor urna nunc id cursus metus aliquam eleifend. Facilisi etiam dignissim diam quis enim lobortis.</p>
                </div>
                <div class="quantity-price">
                    <div class="quantity">
                        <h3>Quantity</h3>
                        <div class="quantity-choice">
                            <label class="q-choice" id="q-minus">-</label>
                            <label class="q-choice" id="q-number">10</label>
                            <label class="q-choice" id="q-plus">+</label>
                        </div>
                    </div>
                    <div class="price">
                        <h3>Price Per Unit</h3>
                        <label>399 DKK</label>
                    </div>
                </div>
                <button>Add To Cart</button>
            </div>
        </div>
</div>

@code {
    
}