<nav class="navbar">
    <button class="nav-button" id="home-button">Home</button>
        <div class="central-buttons">
        <button class="nav-button">Something</button>
        <button class="nav-button">Something</button>
        <button class="nav-button">Something</button>
    </div>
    <button class="login-button">Login</button>
</nav>

@code {
    
}