@using HTTPClients.ClientInterfaces
@using HTTPClients.Implementations
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IUserService UserService

<nav class="navbar">
    <button class="nav-button" id="home-button" @onclick="Home">Home</button>
    <div class="central-buttons">
        <button class="nav-button">Support</button>
        <button class="nav-button" @onclick="Store">Store</button>
        <button class="nav-button" @onclick="Cart">Cart</button>
    </div>
    <AuthorizeView>
        <Authorized>
            <button class="login-button" @onclick="Logout">Logout</button>
        </Authorized>
        <NotAuthorized>
            <button class="login-button" @onclick="Login">Login</button>
        </NotAuthorized>
    </AuthorizeView>
    
</nav>

@code {
    
    //Authorization ( When user is not registered DO NOT show Cart/Support/Store
    //After logging in user should be able to see those
    
    // If user is a seller it should show Seller Dashboard
    // If user is a admin it should show Admin Dashboard 

    private string _loginButtonText = "Login";
    
    protected override async Task OnInitializedAsync()
    {
        
    }

    private void NavigateTo(string route)
    {
        NavigationManager.NavigateTo($"/{route}");
    }
    
    private void Login()
    {
        NavigationManager.NavigateTo("/Login");
    }

    private void Store()
    {
        NavigationManager.NavigateTo("/items");
    }

    private void Cart()
    {
        NavigationManager.NavigateTo("/cart");
    }

    private void Home()
    {
        NavigationManager.NavigateTo("/");
    }

    // When Customer support is gonna be implemented uncomment that
    
    // private void Support()
    // {
    //     NavigationManager.NavigateTo("/support");
    // }

    private async Task Logout()
    {
        await UserService.LogoutAsync();
        NavigationManager.NavigateTo("/");
    }
}